
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.Calculadora {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#visor {
    width: 100%;
    height: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.teclado button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.operacao {
    background-color: #ff9900;
    color: #fff;
}

.limpar {
    background-color: #ff3333;
    color: #fff;
}

.resultado {
    background-color: #009933;
    color: #fff;
}

.teclado button:hover {
    background-color: #ccc;
}
